<div id="divBG">
  <h3 class="text-center">Nos jeux de société</h3>
  <div id="boardGame" class="row no-gutters">
    <div class="space col-12 col-md-6 col-lg-3 card" ng-repeat="article in articles|filter:{category:'boardgames'}">
      <img class="card-img-top" src={{article.img}} alt={{article.name}}>
      <div class="card-body">
        <div class="text-center">
          <p class="articleName card-title font-weight-bolder">{{article.name}}</p>
        </div>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <div class="text-center">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target=#drop{{$index}} aria-expanded="true" aria-controls="collapseOne">
                    Description
                  </button>
                </div>
              </h2>
            </div>
            <div id=drop{{$index}} class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                {{article.description}}
              </div>
            </div>
          </div>
        </div>

        <p class="card-text font-weight-bolder">{{article.price}} €<span class="float-right font-weight-bolder">{{article.ref}}</span></p>
        <div>
          <div class="text-center">
            <a ng-click="addToCart(article)" href="#!/boardGame" data-toggle="modal" data-target="#infoModal" type="button" class="btn btn-primary text-white">Ajouter au panier</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
