/* CSS de la page d'accueil */
body {
  /* Code pour que l'image reste fixe et responsive */
  margin: 0;
  padding: 0;
  background: url(images/.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
  font-family: 'Merienda', cursive;
}

#panier {
  color: #F27405;
  background-color: #020B40;
}

.img-fluid {       /* A utiliser avec class="img-fluid" à appliquer à chaque image déclarée dans le html, pour que toutes les images soient responsives */
  max-width: 100%;
  height: auto;
}

.carousel {
  font-family: 'Merienda', cursive;
}

.container {
  font-family: 'Merienda', cursive;
}

/* Barre Menu */
#menu {
  line-height: 100%;
  background-color: #ffffff;
  height: auto !important;
  width: 100% !important;
  -moz-box-shadow: 0px 12px 15px 0px #000000;
  -webkit-box-shadow: 0px 12px 15px 0px #000000;
  -o-box-shadow: 0px 12px 15px 0px #000000;
  box-shadow: 0px 12px 15px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=15);
}

.nav-link {
  font-family: 'Merienda', cursive;
  color: black;
  font-size: 1rem;
  text-align: center;
}

#textNavButton {
  font-family: 'Merienda', cursive;
  font-size: 1rem;
}

#textNavButton {
  background-color: rgba(242, 38, 19, 0.25)
}

@media screen and (max-width:991px) {
  .imgNavBar {
    display: none;
  }

  .bd-example {
    display: none;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.85);
}

/* home.html */
.rem {
  height: 1rem;
}

.card {
  font-family: 'Merienda', cursive;
}

#more {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h3 {
  color: red;
}

h4 {
  color: #020B40;
  }

#popArt {
  font-size: 1.25rem;
}

.Quantity {
  font-size: 1.25rem;
}

/* CSS des catégories */

#divBG {
  margin-top : 2rem;
}

#boardGame {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

#divKD {
  margin-top : 2rem;
}

#Kids {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

#divGD {
margin-top : 2rem;
}

#Goodies {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.space {
  margin-bottom: 1rem;
}


/* CSS du panier */
#cartModal {
  margin: 0;
  padding: 0;
  background: url(images/fondCart3.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

#wallPaperModal {
  margin: 0;
  padding: 0;
  /* background: url(images/backCart2.jpg) no-repeat center fixed; */
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

.keepShopping {
  background-color: #F27405;
  color: #020B40;
}

.pay {
  background-color: #020B40;
  color: #F27405;
}

#deliver {
  background-color: rgba(2, 11, 64, 0.75);
}

/* CSS du Footer */
footer {
  width: 100%;
  height: auto;
}

.footer-title {
  font-size: 0.9rem;
  color: #020B40;
  font-weight: 700;
}

.footer-legis {
  font-size: 0.8rem;
  color: #020B40;
  margin-bottom: 0.1rem;
  margin-top: 0;
}

#infoColumn {
  font-size: 0.8rem;
  color: #020B40;
}

#map {
  border-radius: 8%;
}

.fa-transparent {
  color: transparent;
}

.footer-copyright {
  font-size: 0.8rem;
  color: #020B40;
  background-color: #F27405;
  font-family: 'Merienda', cursive;
}

li {
  list-style: none;
}

/* ***** Links ******/
a {
  text-decoration: none;
  color: #020B40;
}

a:visited {
  color: #020B40;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #F27405;
}

/* Google Map Responsive */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  /*aspect ratio 16:9 ==> 9/16x100 = 56.25*/
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Separator Demon Footer*/
.separatorDemon {
  background: linear-gradient(to right, #F27405, transparent, #F27405);
  height: 10%;
  width: 100%;
}

.separator {
  background-color: #000000;
  height: .06em;
  margin-bottom: .7em;
}

.separationMenu {
  clear: both;
  position: absolute;
  margin-top: 10px;
  margin-left: 250px;
  height: 200px;
  width: 5px;
  background: black;
}

hr {
  background-color: #F27405;
  width: 10em;
  height: 1px;
}

#fafa {
  color: white;
}
